
.bg-custom{
	background-color:#6a1b9a;
}

.log-btn{
	padding-left:100px;
}

.navbar .nav-item .nav-link{
	color:white;
	margin-left:3px;
	
}

.navbar .nav-item:hover .nav-link{
		background-color:white;
		color:#6a1b9a;
		border-radius:12px;
}